.up{
    -webkit-column-count: 3;
    -moz-column-count: 3; 
      column-count: 3; 
    padding: 20px 50px 0px; 
}
.up_main{
    height:300px;
    display:flex;
    flex-direction:row;
    justify-content: center;
    background-color: rgb(60, 60, 60);
    border-radius: 10px;
}
.up_main .up_pic{
    margin:10px;
    border-radius: 10px;
}
.up_main .up_pic img{
    border-radius: 10px 0 0 10px;
}
.up_write{
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    width:60%;
    padding-left: 10px;
    background-color: transparent;
    color:white;
    position:relative;
}
.head{
    font-size:25px;
    font-weight: bolder;
}
hr{
    width: 30%;
    height:5%;
    border-radius:5px ;
}
.arrow img{
    width:30px;
    position: absolute;
    top:78%;
    left:75%;
}

